<app-navbar-rest>
</app-navbar-rest>
<div class="container-fluid px-0">
  <div class="row" style="width: 100%; margin: 0%">
    <div class="col-lg-12 px-0">
      <img
        class="img2"
        style="height: 56%"
        src="../assets/topRightHome.png"
        alt=""
        width="100%"
      />
      <img
        style="position: absolute; left: 0%"
        src="../assets/topRightHome2.png"
        alt=""
        width="100%"
        class="img1"
      />
    </div>
  </div>
  <div class="row pd" style="margin: 0;">
    <div class="col-lg-12 mt-5">
      <p class="p1">¡ESCRÍBENOS! QUEREMOS LEERTE</p>
    </div>
    <div class="col-lg-7">
      <div class="row">
        <div class="col-lg-6">
          <div style="display: flex; flex-direction: column;">
              <label for="nombre">NOMBRES</label>
              <input class="inp1" id="nombre" type="text" placeholder="Juan" #user>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mt" style="display: flex; flex-direction: column;">
              <label for="apellido">APELLIDOS</label>
              <input class="inp1" id="apellido" type="text" placeholder="Vélez" #last>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div  style="display: flex; flex-direction: column;">
              <label for="correo">Correo electrónico</label>
              <input class="inp1" id="correo" type="email" placeholder="ejemplo@ejemplo.com" #email>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mt" style="display: flex; flex-direction: column;">
              <label for="apellido">Sucursal</label>
              <select name="" id="apellido" (change)="selectEmpresa($event)">
                <option value="">Elige una sucursal</option>
                <option value="{{suc.correo}}"  *ngFor="let suc of sucursales;">{{suc.lugar}}</option>
              </select>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <div  style="display: flex; flex-direction: column;">
              <label for="asunto">asunto</label>
              <input class="inp1" type="text" id="asunto" placeholder="Asunto del mensaje" #asunto>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <div  style="display: flex; flex-direction: column;">
              <label for="asunto">mensaje</label>
              <textarea name="" id="asunto" cols="30" rows="4" placeholder="Mensaje detallado del contacto" #comentario></textarea>
          </div>
        </div>
        <div class="col-lg-12 mt-5">
          <button class="btn1" (click)="sendContacto(user.value,last.value,email.value,asunto.value,comentario.value)">Enviar mensaje</button>
          <button id="openModal" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#contacto"></button>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="bgsec1">
        <img src="../assets/ctWhite.png" width="100%" style="position: absolute;bottom: -.5%;RIGHT: 0;" alt="">
        <img src="../assets/ctGrey.png" width="100%" style="position: absolute;bottom: -.5%;RIGHT: 0;" alt="">
      </div>
    </div>
  </div>
  <div class="row mt-5" style="margin: 0%;">
    <app-footer style="width: 100%;"></app-footer>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <p class="pm-1">Agradecemos tu opinión</p>
        <p class="pm-2">Siempre estamos atentos a los mensajes y sugerencias
          de todos nuestros clientes y no dudes que tomaremos en cuenta tu opinión. ¡Muchas gracias!</p>
          <button class="btnm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
