<app-navbar-inicio></app-navbar-inicio>
<div class="container-fluid px-0">
  <div class="row mx-0">
    <div id="carouselExampleSlidesOnly" style="width: 100%;" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="col-lg-12 px-0 bg">
            <img
              style="position: absolute; z-index: 2"
              src="../assets/topRightHome.png"
              alt=""
              width="100%"
            />
            <img
              style="position: absolute; height: 15%"
              src="../assets/topRightHome2.png"
              alt=""
              width="100%"
              class="sec1-topRed"
            />
            <img
              style="position: absolute; z-index: 2; bottom: -0.5%"
              src="../assets/bottomHome2.png"
              alt=""
              width="100%"
            />
            <img
              style="position: absolute; z-index: 2; bottom: -0.5%; height: 19%"
              src="../assets/bottomHome.png"
              alt=""
              width="100%"
              class="sec1-bottom"
            />
            <img class="img-2" src="../assets/homeArb.png" alt="" width="100%" />
            <div class="first-box">
              <h1>Arbolitos de cajeme</h1>
              <p>Más de 33 años</p>
              <p class="p2">donde la atención, el gusto y el buen comer se  a dueñan de ti</p>
              <button routerLink="/menu">
                CONSULTA NUESTRO MENÚ &nbsp;&nbsp;<img
                  src="../assets/arrRight.png"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-12 px-0 bg1-3">
            <img
              style="position: absolute; z-index: 2"
              src="../assets/topRightHome.png"
              alt=""
              width="100%"
            />
            <img
              style="position: absolute; height: 15%"
              src="../assets/topRightHome2.png"
              alt=""
              width="100%"
              class="sec1-topRed"
            />
            <img
              style="position: absolute; z-index: 2; bottom: -0.5%"
              src="../assets/bottomHome2.png"
              alt=""
              width="100%"
            />
            <img
              style="position: absolute; z-index: 2; bottom: -0.5%; height: 19%"
              src="../assets/bottomHome.png"
              alt=""
              width="100%"
              class="sec1-bottom"
            />
            <img class="img-2" src="../assets/homeArb.png" alt="" width="100%" />
            <div class="first-box">
              <h1>Arbolitos de cajeme</h1>
              <p>Más de 33 años</p>
              <p class="p2">donde la atención, el gusto y el buen comer se  a dueñan de ti</p>
              <button routerLink="/menu">
                CONSULTA NUESTRO MENÚ &nbsp;&nbsp;<img
                  src="../assets/arrRight.png"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-lg-12 px-0 bg1-2">
            <img
              style="position: absolute; z-index: 2"
              src="../assets/topRightHome.png"
              alt=""
              width="100%"
            />
            <img
              style="position: absolute; height: 15%"
              src="../assets/topRightHome2.png"
              alt=""
              width="100%"
              class="sec1-topRed"
            />
            <img
              style="position: absolute; z-index: 2; bottom: -0.5%"
              src="../assets/bottomHome2.png"
              alt=""
              width="100%"
            />
            <img
              style="position: absolute; z-index: 2; bottom: -0.5%; height: 19%"
              src="../assets/bottomHome.png"
              alt=""
              width="100%"
              class="sec1-bottom"
            />
            <img class="img-2" src="../assets/homeArb.png" alt="" width="100%" />
            <div class="first-box">
              <h1>Arbolitos de cajeme</h1>
              <p>Más de 33 años</p>
              <p class="p2">donde la atención, el gusto y el buen comer se  a dueñan de ti</p>
              <button routerLink="/menu">
                CONSULTA NUESTRO MENÚ &nbsp;&nbsp;<img
                  src="../assets/arrRight.png"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div
    class="row backgroundMain"
    style="
      margin: 0%;
      background: linear-gradient(180deg, #D31027 0%, #EA384F 100%);
    "
  >
    <div class="col-lg-12 mt-5 px-0">
      <p class="p3">SOBRE NOSOTROS</p>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-5">
        <p class="p4">
          Inicia hace mas de 33 años de la mano de su fundador Don Diego Cota
          Cota, quien a través de estos años logró fundamentar su creencia en la
          buena cocina y excelencia en el servicio, dándole a su restaurante el
          prestigio que ha mantenido hasta la fecha y que gracias al esfuerzo de
          muchos se ha extendido en todo el norte del país, logrando llegar hasta los Estados Unios,
          volviéndose
          uno de los restaurantes de mayor influencia en el estado de Sonora,
          rebasando las fronteras ha logrado extenderse en todo el país,
          contando con 19 sucursales y llevando el mejor sabor del norte hacia
          todo México. <br /><br />

          En estos años nuestra filosofía siempre ha sido nuestro espíritu de
          servicio, y la empatía con nuestros clientes. Para nosotros nuestros
          valores son elementales para operar nuestra marca, ya que son los que
          mantienen su esencia desde su inicio, y teniendo clara nuestra misión
          y visión, es como hemos podido trascender las fronteras mas allá de la
          región norte del país.
        </p>
      </div>
      <div class="col-lg-5 mb-5 section2">
        <div class="bg2">
          <img
            height="100%"
            width="100%"
            style="position: absolute; top: 1%"
            src="../assets/img-first-grey.png"
            alt=""
          />
          <img
            height="100%"
            style="position: absolute; top: 1%; right: -0.5%"
            src="../assets/img-first-red.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="row section2-below mb-5">
      <div class="box-main">
        <p class="p5">Misión</p>
        <p class="p6">
          Satisfacer el gusto por la buena cocina, a través de una excelente
          atención y un servicio de altísima calidad.
        </p>
      </div>
      <div class="box-main">
        <p class="p5">Visión</p>
        <p class="p6">
          Crecer con honestidad y responsabilidad como el restaurante de mariscos más importante del país.
        </p>
      </div>
      <div class="box-main">
        <p class="p5">Valores</p>
        <p class="p6">
          Respesto, solidaridad, honradez, humildad, consideración a terceros, disciplina, compromiso.
        </p>
      </div>
    </div>
  </div>
  <div class="row bg3 bg3-custom" style="margin: 0; position: relative; width: 100%;">
    <img class="dis"
    src="../assets/section3Main.png"
    alt="" width="100%"
  />
  <img class="img-grey" style="position: absolute; height: 100%;"
    src="../assets/section3grey.png"
    alt="" width="100%"
  />
  <img style="position: absolute;z-index: 2; margin-top: -1%; height: 20%;"
    src="../assets/section3topred.png"
    alt="" width="100%" class="sec3-top-red"
  />
  <img class="sec3-top-grey" style="position: absolute;z-index: 2; margin-top: -1%; height: 23%;"
  src="../assets/section3greyRec.png"
  alt="" width="100%"
/>
<img style="position: absolute; bottom: 0%;"
  src="../assets/section3Bottom.png"
  alt="" width="100%"
/>
<img style="position: absolute; bottom: 0;"
  src="../assets/section3BottomGrey.png"
  alt="" width="100%"
/>
<div class="box-sec3">
  <p class="p7">Se parte de nuestra gran familia</p>
  <p class="p8"><span class="p8-1">"Con perseverancia y constancia no tiene por qué fallar nada en un negocio."</span><br>
    Sé parte de nuestra gran familia y de la mejor cadena de restaurantes de mariscos y productos del mar.
   <br><br>

   <button routerLink="/unete">Únete a nosotros &nbsp;&nbsp;<img
    src="../assets/arrRight.png"
    alt=""
  /></button>
</div>
  </div>
  <div class="row" style="margin: 0%;">
   <div class="col-lg-12 px-0">
      <p class="p9">CADA VEZ MáS CERCA</p>
   </div>
   <div class="bg4" style="padding: 0px 3rem;
   width: 100%;
   display: flex;">
    <div class="col-lg-5 px-0 box-sec4" style="align-self: baseline;">
      <p class="p10">El sabor del desierto rebasa las fronteras pensando en tí. <br><br>

        Tenemos sucursales por toda la República Mexicana y cada vez estamos
        pensando en como poder abrirnos a nuevos mercados y estar siempre cerca
        de nuestros clientes, sin importar en que parte del país se puedan encontrar.</p><br>

        <button routerLink="/sucursales">Consulta las sucursales &nbsp;&nbsp;<img
          src="../assets/arrRight.png"
          alt=""
        /></button>
    </div>
    <div class="col-lg-7 px-0 custom-sec4" style="display: flex; justify-content: space-between;">
        <div class="bgsec4 not-show">
          <img style="position: absolute;
          bottom: -.5%;
          right: 0;"
          src="../assets/sec4white.png"
          alt=""/>
          <img style="position: absolute;
          bottom: 0;
          right: 0;"
          src="../assets/sec4grey.png"
          alt=""/>
          <p class="center-p">San Luis Potosi</p>
        </div>
        <div class="bgsec4 not-show">
          <img style="position: absolute;
          bottom: -.5%;
          right: 0;"
          src="../assets/sec4white.png"
          alt=""/>
          <img style="position: absolute;
          bottom: 0;
          right: 0;"
          src="../assets/sec4grey.png"
          alt=""/>
          <p class="center-p">Ciudad Juárez</p>
        </div>
        <div class="bgsec4 not-show">
          <img style="position: absolute;
          bottom: -.5%;
          right: 0;"
          src="../assets/sec4white.png"
          alt=""/>
          <img style="position: absolute;
          bottom: 0;
          right: 0;"
          src="../assets/sec4grey.png"
          alt=""/>
          <p class="center-p">Aguascalientes</p>
        </div>

    </div>

   </div>
  </div>

    <swiper>
      <div class="swiper-container mt-5">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
          <!-- Slides -->

          <div class="swiper-slide middle" >
            <div class="bgsec4 ">
              <img style="position: absolute;
              bottom: 0;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: 0;
              right: 0;"
              src="../assets/sec4grey.png"
              alt=""/>
              <p class="center-p">San Luis Potosi</p>
            </div>
          </div>
          <div class="swiper-slide middle" >
            <div class="bgsec4 ">
              <img style="position: absolute;
              bottom: 0;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: 0;
              right: 0;"
              src="../assets/sec4grey.png"
              alt=""/>
              <p class="center-p">Ciudad Juárez</p>
            </div>
          </div>
          <div class="swiper-slide middle" >
            <div class="bgsec4 ">
              <img style="position: absolute;
              bottom: 0%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: 0;
              right: 0;"
              src="../assets/sec4grey.png"
              alt=""/>
              <p class="center-p">Aguascalientes</p>
            </div>
          </div>


        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination "></div>
      </div>
    </swiper>

</div>
<div  id="map" style="width:100%;height:456px;"></div>
<div class="row" style="margin: 0%;">
  <app-footer style="width: 100%;"></app-footer>
</div>
