<div class="row custom-row" style="width: 100%; margin: 0%; padding: 25px 36px;">
  <div class="col-lg-2 custom-z">
    <div style="display: flex;" class="custom-first">
      <img src="../assets/logo2.png" alt="">
      <div class="first-box">
          <ul>
            <li>MARISCOS</li>
            <li>LOS ARBOLITOS</li>
            <li>DÉ CAJEME</li>
          </ul>
      </div>
    </div>
    <div class="mt-2 custom-sec" style="display: flex; justify-content: space-between;">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
 <div class="custom-fix">
  <div class="col-lg-8 px" style="margin: auto;">
    <div style="display: flex; justify-content: space-evenly;" class="ul">
      <a routerLink="/inicio">inicio</a>
      <a routerLink="/sucursales">sucursales</a>
      <a routerLink="/menu">menú</a>
      <a routerLink="/contacto">contacto</a>
    </div>
  </div>
  <div class="col-lg-2 px2 px-0" style="margin:auto">
    <div class="px3" style="display: flex; flex-direction: column; align-items: flex-end;">
      <p class="p1">(644) 415-29-36</p>
      <a  href="https://www.inowu.dev/" class="p2">INOWU DEVELOPMENT 2021</a>
    </div>
  </div>
 </div>
</div>


