<app-navbar-rest></app-navbar-rest>
<div class="container-fluid" *ngIf="platillo===undefined"
    style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="spinner-border" role="status" style="color: red;">
    </div>
</div>

<div class="container-fluid px-0" *ngIf="platillo !== undefined">
  <div class="row" style="width: 100%; margin: 0%">
    <div class="col-lg-12 px-0">
      <img
        class="img2"
        style="height: 56%"
        src="../assets/topRightHome.png"
        alt=""
        width="100%"
      />
      <img
        style="position: absolute; left: 0%"
        src="../assets/topRightHome2.png"
        alt=""
        width="100%"
        class="img1"
      />
    </div>
    <div class="col-lg-12 sec1 mt-5">
        <p class="p1">Nuestro Menú</p>
        <p class="p2">Los mariscos más frescos, los mejores cortes y el ambiente ideal</p>
        <div class="gd">
          <button [class.act]="todo===true" class="btn1" (click)="todos()">todo</button>
          <button [class.act]="entradas===true" class="btn1" (click)="entrada()">entradas</button>
          <button [class.act]="sopas===true" class="btn1" (click)="sopa()">sopas</button>
          <button [class.act]="mariscos===true" class="btn1" (click)="marisco()">Fresco</button>
          <button [class.act]="pescado===true" class="btn1" (click)="pescados()">pescados</button>
          <button [class.act]="carnes===true" class="btn1" (click)="carne()">carnes</button>
          <button [class.act]="tostada===true" class="btn1" (click)="tostadas()">Tostadas</button>
          <button [class.act]="taco===true" class="btn1" (click)="Tacos()">Tacos</button>
          <button [class.act]="molcajete===true" class="btn1" (click)="Molca()">Molcajetes</button>
          <button [class.act]="ensalada===true" class="btn1" (click)="Ensalada()">Ensaladas</button>
          <button [class.act]="pulpo===true" class="btn1" (click)="Pulpo()">Pulpos</button>
          <button [class.act]="filete===true" class="btn1" (click)="Filetes()">Filetes</button>
          <button [class.act]="camaron===true" class="btn1" (click)="Shrimp()">Camarón</button>
          <button [class.act]="langosta===true" class="btn1" (click)="Langosta()">Langosta</button>
          <button [class.act]="especialidad==true" class="btn1" (click)="Especial()">Especialidades</button>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="todo===true">
          <div class="dis" *ngFor="let pllo of platillo;">
            <div class="bgsec1"  style=" background-image: url({{pllo.Main}});" [routerLink]="['/Platillo',pllo.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div>
              <p class="p3">{{pllo.nombre}}</p>
              <p class="p4">{{pllo.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2" *ngFor="let pllo of platillo;" style="background-image: url({{pllo.res}});" [routerLink]="['/Platillo',pllo.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{pllo.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="entradas===true">
          <div class="dis" *ngFor="let entrada of Ent;">
            <div class="bgsec1" style=" background-image: url({{entrada.Main}});" [routerLink]="['/Platillo',entrada.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{entrada.nombre}}</p>
              <p class="p4">{{entrada.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2" *ngFor="let entrada of Ent;" style="background-image: url({{entrada.res}});" [routerLink]="['/Platillo',entrada.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{entrada.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="mariscos===true">
          <div class="dis" *ngFor="let mariscos of Mar;">
            <div class="bgsec1" style=" background-image: url({{mariscos.Main}});" [routerLink]="['/Platillo',mariscos.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div>
              <p class="p3">{{mariscos.nombre}}</p>
              <p class="p4">{{mariscos.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2" *ngFor="let mariscos of Mar;" style="background-image: url({{mariscos.res}});" [routerLink]="['/Platillo',mariscos.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{mariscos.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="sopas===true">
          <div class="dis" *ngFor="let sopa of Soup;">
            <div class="bgsec1"  style=" background-image: url({{sopa.Main}});" [routerLink]="['/Platillo',sopa.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div>
              <p class="p3">{{sopa.nombre}}</p>
              <p class="p4">{{sopa.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"  *ngFor="let sopa of Soup;" style="background-image: url({{sopa.res}});" [routerLink]="['/Platillo',sopa.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{sopa.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="pescado===true">
          <div class="dis" *ngFor="let fish of pez;">
            <div class="bgsec1" style=" background-image: url({{fish.Main}});" [routerLink]="['/Platillo',fish.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{fish.nombre}}</p>
              <p class="p4">{{fish.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let fish of pez;" style="background-image: url({{fish.res}});" [routerLink]="['/Platillo',fish.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{fish.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="carnes===true">
          <div class="dis" *ngFor="let carne of meat;">
            <div class="bgsec1" style=" background-image: url({{carne.Main}});" [routerLink]="['/Platillo',carne.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{carne.nombre}}</p>
              <p class="p4">{{carne.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let carne of meat;"style="background-image: url({{carne.res}});" [routerLink]="['/Platillo',carne.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{carne.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="tostada===true">
          <div class="dis" *ngFor="let tostada of tost;">
            <div class="bgsec1" style=" background-image: url({{tostada.Main}});" [routerLink]="['/Platillo',tostada.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{tostada.nombre}}</p>
              <p class="p4">{{tostada.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let tostada of tost;"style="background-image: url({{tostada.res}});" [routerLink]="['/Platillo',tostada.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{tostada.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="taco===true">
          <div class="dis" *ngFor="let taco of tacos;">
            <div class="bgsec1" style=" background-image: url({{taco.Main}});" [routerLink]="['/Platillo',taco.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{taco.nombre}}</p>
              <p class="p4">{{taco.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let taco of tacos;"style="background-image: url({{taco.res}});" [routerLink]="['/Platillo',taco.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{taco.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="molcajete===true">
          <div class="dis" *ngFor="let molcajete of molca;">
            <div class="bgsec1" style=" background-image: url({{molcajete.Main}});" [routerLink]="['/Platillo',molcajete.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{molcajete.nombre}}</p>
              <p class="p4">{{molcajete.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let molcajete of molca;"style="background-image: url({{molcajete.res}});" [routerLink]="['/Platillo',molcajete.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{molcajete.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="ensalada===true">
          <div class="dis" *ngFor="let ensalada of salat;">
            <div class="bgsec1" style=" background-image: url({{ensalada.Main}});" [routerLink]="['/Platillo',ensalada.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{ensalada.nombre}}</p>
              <p class="p4">{{ensalada.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let ensalada of salat;"style="background-image: url({{ensalada.res}});" [routerLink]="['/Platillo',ensalada.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{ensalada.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="pulpo===true">
          <div class="dis" *ngFor="let pulpo of oct;">
            <div class="bgsec1" style=" background-image: url({{pulpo.Main}});" [routerLink]="['/Platillo',pulpo.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{pulpo.nombre}}</p>
              <p class="p4">{{pulpo.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let pulpo of oct;"style="background-image: url({{pulpo.res}});" [routerLink]="['/Platillo',pulpo.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{pulpo.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="filete===true">
          <div class="dis" *ngFor="let filete of Filete;">
            <div class="bgsec1" style=" background-image: url({{filete.Main}});" [routerLink]="['/Platillo',filete.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{filete.nombre}}</p>
              <p class="p4">{{filete.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let filete of Filete;"style="background-image: url({{filete.res}});" [routerLink]="['/Platillo',filete.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{filete.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="camaron===true">
          <div class="dis" *ngFor="let camaron of shrimp;">
            <div class="bgsec1" style=" background-image: url({{camaron.Main}});" [routerLink]="['/Platillo',camaron.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{camaron.nombre}}</p>
              <p class="p4">{{camaron.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let camaron of shrimp;"style="background-image: url({{camaron.res}});" [routerLink]="['/Platillo',camaron.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{camaron.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="langosta===true">
          <div class="dis" *ngFor="let langosta of lango;">
            <div class="bgsec1" style=" background-image: url({{langosta.Main}});" [routerLink]="['/Platillo',langosta.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{langosta.nombre}}</p>
              <p class="p4">{{langosta.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let langosta of lango;"style="background-image: url({{langosta.res}});" [routerLink]="['/Platillo',langosta.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{langosta.nombre}}</p>
          </div>
        </div>
        <div class="gdPlatillos mt-5" *ngIf="especialidad===true">
          <div class="dis" *ngFor="let especialidad of especial;">
            <div class="bgsec1" style=" background-image: url({{especialidad.Main}});" [routerLink]="['/Platillo',especialidad.id]">
              <img style="position: absolute;
              bottom: -.5%;
              right: 0;"
              src="../assets/sec4white.png"
              alt=""/>
              <img style="position: absolute;
              bottom: -.5%;
              right: 0; width: 100%;"
              src="../assets/sec4grey.png"
              alt=""/>

            </div>
            <div >
              <p class="p3">{{especialidad.nombre}}</p>
              <p class="p4">{{especialidad.descripcion}}</p>
            </div>
          </div>
          <div class="bgsec2"   *ngFor="let especialidad of especial;"style="background-image: url({{especialidad.res}});" [routerLink]="['/Platillo',especialidad.id]">
            <img src="../assets/resSucBack.png" alt="" style="position: absolute;
            width: 100%;
            height: 100%;">
            <img src="../assets/resSucWhite.png" alt="" style="    position: absolute;
            right: 0;
            bottom: -1%;">
            <img src="../assets/resSucGrey.png" alt="" style="    width: 100%;
            position: absolute;
            bottom: 0;">
            <p class="res-p">{{especialidad.nombre}}</p>
          </div>
        </div>
    </div>
  </div>
  <div class="row mt-5" style="margin: 0%;">
    <app-footer style="width: 100%;"></app-footer>
  </div>
</div>
